@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@theme {
  --font-mono: 'Space Mono', monospace;

  --color-body: #c5e4e7;
  --color-input: #f3f8fb;
  --color-label: #697372;
  --color-h1: #466c6d;
  --color-dark: #00474b;
  --color-cyan: #24bda9;
  --color-lightcyan: #9fe8df;
  --color-lightgrey: #b8caca;
  --color-light: #5c888c;
  --color-reset: #0c686d;
  --color-error: #e48275;

  --shadow-custom: 10px 10px 28px #add7dd;

  --tracking-1: 0.5em;
}